body {
    background-image: url(https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwallpapercave.com%2Fwp%2F4DuYKpW.jpg&f=1&nofb=1);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/*----------------------Header------------------*/
header {
    background-color: #FFE81F;
    height: 70px;
    text-align: center;
    /* position: fixed; */
}

#header_logo {
    position: absolute;
}


/*-----------------navigation buttons----------------*/
.tablink {
    background-color: #FFE81F;
    color: #000000;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /* styling the buttons */
  .tabcontent {
    color: #000000;
    display: none;
    padding: 50px;
    text-align: center;
  }
  
/*---------------people list div-----------------*/
#list-collection {
  margin: 2rem;
  justify-content: space-around;
}
.card {
  
  background-color: white;
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #e04b52
}

img {
  justify-self: center;
  height: 12rem;
  width: auto;
}

.like-btn {
  position: relative;
  background-color: red;
  border: none;
  border-radius: 5px;
  height: 2rem;
  width: 75%;
  color: rgba(48, 1, 36, 0.959);
  font-size: 18px;
  justify-self: center;
}

h3 {
  color:black
}
#item-list {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgba(138, 226, 30, 0.873);
  /* background-color: aqua; */
  text-align: center;
  list-style-type: none;
  padding: 70px;
}